.back1
{
    background-color: black;
    color: white;
}
.back2
{
    margin-top: 300px;
    background-color: rgb(20 20 20);
}
.clr1
{
    color: #FF004F;
}
.clr2
{
    color:white;
}
.headers1
{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
}

.headers2
{
    font-size:45px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight:bold;
    margin-bottom:0px;
}
/*------HOME MODULE START HERE----------*/
.home-container
{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 180px;
    margin-right:180px;
    margin-top: 20px;
}
.home-items1
{
    font-size:50px;
    font-weight:bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.home-items2
{
    display: grid;
    grid-template-columns: auto auto auto auto auto ;
    font-size: 20px;
    margin-left: 180px;
    margin-top: 20px;
}
.home-items2 > div>a
{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}
.Tittle1
{
    margin-left: 180px;
    font-size: 30px;
    margin-top: 300px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tittle-text1
{
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*,* ::before,*::after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.home-items2 > div > a::after
{
    content: "";
    position: absolute;
    background-color: #FF004F;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;

}
.home-items2 > div > a:hover::after
{
    width: 100%;
}

/*------HOME MODULE END HERE----------*/


/*------ABOUT MODULE START HERE----------*/
.about-container
{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 180px;
    margin-right: 180px;
    padding-top: 50px;
    gap: 60px;
}
.about-container > div>img
{
    width: 450px;
    height: 550px;
    border-radius:10px 10px;
}
.intro-text
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #ABABAB;
    margin-top: 0px;
}

/*------ABOUT MODULE END HERE----------*/

/*------SERVICES MODULE START HERE----------*/
.myservices
{
    margin-left: 180px;
    margin-right:180px;
    padding-top: 100px;
}
.myservices-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    gap: 40px;
    padding-bottom: 200px;
}
.services-card
{
    width:400px;
    height: 200px;
    background-color: rgb(38,38,38);
    border-radius: 10px;
    padding:20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: transform 0.5s,background-color 0.5s;
}
.services-card:hover
{
    transform: translateY(-10px);
    background-color: #FF004F;
}
.services-card>p
{
    color: #ABABAB;
    font-size: 15px;
}
.services-card>a
{
    text-decoration: none;
}
/*------SERVICES MODULE END HERE----------*/

/*------MYWORK MODULE STARS HERE----------*/
.mywork
{
    margin-left: 180px;
    margin-right: 180px;
    padding-bottom: 150px;
}
.mywork-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 50px;
    gap: 40px;
}
.mywork-items >img
{
    width: 400px;
    border-radius: 20px;
    gap:5px;

}
.see-more
{
    width:200px;
    height: 50px;
    text-align: center;
    padding: 5px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #FF004F;
    border-radius: 8px;
    font-size: 20px;
}
.see-more>a
{
    text-decoration: none;
    color:white;

}
.see-more:hover
{
    background-color: #FF004F;
    color: ghostwhite;

}
/*------MYWORK MODULE END HERE----------*/

/*------CONTACT MODULE STARS HERE----------*/
.contacts
{
    margin-left: 180px;
    margin-right: 180px;
}
.contact-container
{
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 90px;
    gap: 60px;
}

.contact-items1>p
{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    margin-left: 15px;
}

.contact-items1 >button
{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height: 50px;
    padding: 5px;
    background-color: #FF004F;
    border-radius: 10px;
    color: white;
    margin-top: 80px;
    border: none;
}

.contact-items1 >button>a
{
    text-decoration: none;
    color: white;
}
.contact-items2
{
    margin-top: 20px;
}

.contact-items2>form>div>input
{
    width: 750px;
    height:50px;
    margin-bottom: 30px;
    background-color: #262626;
    border: none;
    border-radius: 8px;
    padding-left: 15px;
    font-size: 20px;
    color: white;
    margin-left: 200px;
}

.contact-items2>form>div>textarea
{
    width: 750px;
    height:200px;
    margin-bottom: 30px;
    background-color: #262626;
    border: none;
    border-radius: 8px;
    padding-left:15px;
    font-size: 20px;
    color: white;
    margin-left: 200px;
}

.contact-items2>form>button
{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 200px;
    height:50px;
    background-color:#FF004F;
    border: none;
    border-radius: 10px;
    padding:5px;
    color: white;
    margin-top: 50px;
    margin-left:200px;
    margin-bottom: 50px;
}


/*------CONTACT MODULE END HERE----------*/

/*------FOOTER MODULE STARTS HERE----------*/
.footerbox
{
    width:100%;
    height:70px;
    padding:5px;
    background-color:gray;
}

.footer-container
{
    display:grid;
    grid-template-columns: auto auto auto auto;
    justify-content: start;
}

.footer-items>a>img
{
    width:50px;
    height:50px;
}
.footer-items>a
{
    margin-left: 40px;
}
.copyrights
{
    margin-left: 400px;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}
/*------FOOTER MODULE END HERE----------*/


